.card {
    height: $height-default-card;
    float: left;
    border: none;
    @include offset_theme;

    .card-body {
        &__button {
            position: absolute;
            margin-bottom: 1rem;
            bottom: 0;
            width: 90%;
            @include offset_theme;
        }

        .card-title{
            color: $black-default;
        }
        .card-text{
            color: $black-default;
        }
    }

    .card-footer {
        background-color: var(--bs-card-bg);
        border: none;
    }
}

.card-services{
    height: 300px;
}